<div class="login-container">
  <div class="logo-container"></div>
  <mat-card class="login-card">
    <mat-card-title class="text-center">Login</mat-card-title>
    <mat-card-content>
      <form (ngSubmit)="onLogin()" [formGroup]="loginForm">
        <mat-form-field appearance="fill">
          <mat-label>Usuário</mat-label>
          <input matInput formControlName="username" name="usuario" required />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Senha</mat-label>
          <input
            matInput
            type="password"
            formControlName="password"
            name="password"
            required
          />
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">Entrar</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
